html {
  font-size: 10px;
  font-family: 'Belanosima', sans-serif;
  background-color: #828A95;
}

.theme1{
  font-size: 10px;
  font-family: 'Belanosima', sans-serif;
  background-color: #828A95;
}

.theme2{
  font-size: 10px;
  font-family: 'Belanosima', sans-serif;
  background-color: #605770;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 40px 0;
  color: #BF5700;
  text-shadow: 3px 3px 1px #828A95;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0 0;
  color: #70874F;
  text-shadow: 3px 3px 1px #D2BF55;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

img {
  width: 400px;
  height: auto;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid #C2E812;
}


div.hanging-indent{
  text-indent: -1.5em;
}

div.csl-bib-body {
  font-family: 'Georgia';
  font-size: 14px;
  padding: 0 40px;
  margin-left: 1.5em;
}

div.csl-entry {
  clear: both;
  padding: 5px 0;
}
